<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}



</head>


<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">

<div id="particles-js"></div>

    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type }}
</body>

<script src="js/particles.min.js"></script>
<script id="particle-mode" src="js/app1.js"></script> <!-- app2 for start effect-->

</html>
